.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
  border: 2px solid black;
}

.element__home {
  border: 2px dashed mediumpurple;
  min-height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 75px;
}

.element__home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("src/assets/home-background-img.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.element__home--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.element__about {
  border: 2px dashed green;
  background-color: var(--background-clr-first);
  min-height: 100dvh;
  padding: 2rem 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-wrapper__about {
  width: 500px;
  aspect-ratio: 5/7;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 20px;
  margin-inline: 25px;
}

.element__about--text {
  border: 2px dashed red;
  border-radius: 20px;
  background-color: var(--background-clr-third);
  height: 100%;
  width: 700px;
  padding: 20px;
  margin-inline: 25px;
}

.element__projects {
  border: 2px dashed blue;
  background-color: var(--background-clr-first);
  min-height: 100dvh;
  padding-inline: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element__projects--article {
  border: 2px dashed purple;
  border-radius: 20px;
  background-color: var(--background-clr-second);
  width: 100%;
  max-width: 1250px;
  margin-block: 50px;
  padding: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-wrapper__projects {
  width: 250px;
  height: 200px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 20px;
}

.element__contact {
  border: 2px dashed orange;
  border-radius: 20px;
  background-color: var(--background-clr-second);
  min-height: 100dvh;
  padding: 2rem 2rem;
  margin-inline: auto;
  max-width: 1250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.element__contact--form {
  border: 2px dashed yellow;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

input {
  background-color: var(--background-clr-third);
  border: none;
  border-radius: 20px;
  padding: 25px;
  width: 100%;
  max-width: 750px;
  font-size: 24px;
  font-weight: bold;
}

textarea {
  background-color: var(--background-clr-third);
  border: none;
  border-radius: 20px;
  padding: 25px;
  width: 100%;
  max-width: 750px;
  font-size: 24px;
  font-weight: bold;
}

button {
  background-color: var(--background-clr-third);
  border: none;
  border-radius: 20px;
  padding: 25px;
  width: 100%;
  max-width: 500px;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-clr);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--detail-clr);
}

.footer {
  border: 2px dashed red;
  background-color: var(--background-clr-first);
  padding: 2rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.footer__article {
  border: 2px dashed green;
  border-radius: 20px;
  background-color: var(--background-clr-second);
  width: 100%;
  max-width: 1250px;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}