.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
  border: 2px solid black;
}

.element__home {
  border: 2px dashed mediumpurple;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 75px;
}

.element__home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("src/assets/home-background-img.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.element__home--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.element__about {
  border: 2px dashed green;
  background-color: var(--background-clr-first);
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-wrapper__about {
  width: 500px;
  height: 700px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 20px;
}

.element__about--text {
  border: 2px dashed red;
  border-radius: 20px;
  background-color: var(--background-clr-third);
  height: 700px;
  width: 700px;
  padding: 20px;
  font-size: 16px;
}

.element__projects {
  border: 2px dashed blue;
  background-color: var(--background-clr-first);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element__projects--article {
  border: 2px dashed purple;
  border-radius: 20px;
  background-color: var(--background-clr-second);
  width: 1250px;
  margin-block: 50px;
  padding: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-wrapper__projects {
  width: 250px;
  height: 200px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 20px;
}