@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*///////////Global styling//////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-clr-first: #F5FBEF;
  --background-clr-second: #92AD94;
  --background-clr-third: #748B75;
  --text-clr:#503D42;
  --detail-clr: #84C318;
  --font-first: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-first);
  font-weight: 900;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: var(--text-clr);
  background-color: var(--background-clr-first);
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: underline 1px;
  color: var(--text-clr);
  cursor: pointer;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--detail-clr);
}

/*///////////////Typography/////////////////*/
h1 {
  font-family: var(--font-first);
  font-weight: 600;
  font-style: normal;
  font-size: 96px;
  line-height: 0.9em;
}

h2 {
  font-family: var(--font-first);
  font-weight: 400;
  text-decoration: underline;
  font-size: 48px;
  line-height: 1.2em;
}

h3 {
  font-family: var(--font-first);
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 1.2em;
}

h4, h5, h6 {
  font-family: var(--font-first);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.2em;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h4, h5, h6 {
    font-size: 18px;
  }

  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h4, h5, h6 {
    font-size: 14px;
  }
}