@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*///////////Global styling//////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-clr-first: #F5FBEF;
  --background-clr-second: #92AD94;
  --background-clr-third: #748B75;
  --text-clr:#503D42;
  --detail-clr: #84C318;
  --font-first: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-first);
  font-weight: 900;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 24px;
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
}

/*///////////////Typography/////////////////*/
h1 {
  font-family: var(--font-first);
  font-weight: 600;
  font-style: normal;
  font-size: 96px;
  line-height: 0.9em;
}

h2 {
  font-family: var(--font-first);
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 1.2em;
}

h3 {
  font-family: var(--font-first);
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 1.2em;
}

h4, h5, h6 {
  font-family: var(--font-first);
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 1.2em;
}